

<div id="container">

    <div id="left-page">

        <div class="home-button">
            <button class="button-home"><a href="/">Home</a></button>
        </div>
        <div class="home-button">
            <button class="button-home"><a href="/api/search">Explore</a></button>
        </div>
        {{#if logged_in}}
        <div class="home-button">
            <button id="popup-button" class="button-home">Post</button>
        </div>
        <div class="home-button">
           <button class="button-home"><a href="/api/profile/{{user_id}}">Profile</a></button>
        </div>
          {{/if}}
    </div>

    <div id="middle-page">
        <section>
            <div class="profile-header">
                <div class="name">{{userPosts.first_name}} {{userPosts.last_name}}</div>
                <div class="username"> Username : {{userPosts.username}}</div>
                <div class=""> E-mail :{{userPosts.email}}</div>
                <a href="/api/profile/{{userPosts.id}}/edit"> Edit profile </a>
            </div>
            <div class="profile-posts">
                {{#each userPosts.posts as |post|}}
                {{> _profile}}
                {{/each}}
            </div>
        </section>
    </div>

    <div id="right-page">
    
    
    </div>
</div>


